################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/.vs/KitaplıkProjesi_Turkcell/FileContentIndex/4642dfc9-0fe3-45d2-a63d-6030483d9b66.vsidx
/.vs/KitaplıkProjesi_Turkcell/FileContentIndex/4b1b0154-cdac-41a5-8603-2982746c4b21.vsidx
/.vs/KitaplıkProjesi_Turkcell/FileContentIndex/b12247fd-2ca9-4f7a-9954-c04f975012e5.vsidx
/.vs/KitaplıkProjesi_Turkcell/FileContentIndex/bbeb7697-a1f2-42cc-98f5-80381630bfe8.vsidx
/.vs/KitaplıkProjesi_Turkcell/FileContentIndex/c8476c28-ac8f-4d5b-983c-476ef9d14a3e.vsidx
